html
	head
		link(rel='stylesheet', href="/lib/bootstrap/css/bootstrap.css")
		script(src='/lib/jquery-3.1.0.js')
		script(src='/lib/bootstrap/js/bootstrap.js')
		link(rel='stylesheet/less', type='text/css', href='/custom.less')
		script(src='/custom.js')
		script(src='/lib/less.min.js')

	body
		.container
			| ¯\_(ツ)_/¯